<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.mm.dddscanmm">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-feature android:name="com.android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.home.mm.ddd_scanner.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.home.mm.ddd_scanner.ConfigDDDActivity"
            android:theme="@style/AddTheme"
            android:label="Configure DDD scanner"/>
        <activity android:name="com.home.mm.ddd_scanner.LoadRawFile"
            android:theme="@style/AddTheme"
            android:label="Select raw file"/>
    </application>

</manifest>
